<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="{%url 'view'%}" method="post">
        {%csrf_token%}
        <div>
            <label for="">name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">password</label>
            <input type="password" name="password">
        </div>
        <input type="submit" value="login">
    </form>
</div>
</body>
</html>