<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>name</th>
        <th>price</th>
        <th>author</th>
        <th>category</th>
    </tr>
    {% for book in object_list %}
    <tr>
        <td>{{book.book_name}}</td>
        <td>{{book.price}}</td>
        <td>{{book.author}}</td>
        <td>{{book.category}}</td>
        <td><a href="{% url 'bookupdate' book.id %}">update</a></td>
        <td><a href="{% url 'bookdelete' book.id %}">delete</a></td>
        <td><a href="{% url 'bookdetail' book.id %}">view</a></td>
    </tr>
    {% endfor %}
</table>



</body>
</html>