<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<div class="container">
    <form action="{%url 'submit'%}" method="post">
        {%csrf_token%}
        <div>
            <label for="">Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="">password</label>
            <input type="password">
        </div>
        <button type="submit">submit</button>
    </form>
</div>
{%if name%}
<h1>name={{name}}</h1>
{%endif%}
</body>
</html>