<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>book list</h1>
<table>
    <tr>
        <th>name</th>
        <th>author</th>
        <th>category</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.category}}</td>
        <td><a href="{%url 'update' book.id %}">update</a></td>
        <td><a href="{% url 'detail' book.id %}">view</a></td>
        <td><a href="{% url 'delete' book.id %}">delete</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>